{% extends 'admin/admin.base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12 mt-3 text-center">
    			<h1 class="display-4">{{ title }} </h1>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12 mt-2">
		    	{{ form(form) }}
		    </div>
	    </div>
    </div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset( 'public/assets/framework//tinymce/jscripts/tiny_mce/tiny_mce.js') }}"></script>
	<script>
		tinyMCE.init (
			{
				language : "en",
				theme : "simple",
				elements : "page[content]",
				width: '75%',
				height: '300px',
				mode : "exact"
			}
		)
	</script>
{% endblock %}